[submodule "path/to/submodule-folder"]
	path = path/to/submodule-folder
	url = https://github.com/Jakkarin-Promsee/CTerminalPlotLib.git
[submodule "CTerminalPlotLib"]
	path = CTerminalPlotLib
	url = https://github.com/Jakkarin-Promsee/CTerminalPlotLib.git
[submodule "libs/CTerminalPlotLib"]
	path = libs/CTerminalPlotLib
	url = https://github.com/Jakkarin-Promsee/CTerminalPlotLib.git
